@page
@model ListOfFriendsModel
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "List of friends";

}


      
  <!-- Page list-of-friends -->
  <div class="container px-4 py-4" id="list-of-friends">
  <h2 class="pb-2 border-bottom">List of friends</h2>

    <p>There are @Model.NrOfFriends friends 
        @if(Model.SearchFilter is not null)
        {
          <span>matching the search criteria @Model.SearchFilter</span>
        }
    </p>
    <form method="post" class="needs-validation" method="post" novalidate>
      <label class="form-check-label" for="useSeeds">Use seeded data</label>
      <input asp-for="UseSeeds" class="form-check-input" type="checkbox" id="useSeeds">
            <div class="row mb-2 text-center">
                  <!-- Search filter-->
                  <div class="row mb-2 text-center">
                      <div class="col-md-6 ">
                          <input asp-for="SearchFilter" class="form-control" type="search" placeholder="Search" aria-label="Search">
                      </div>
                      <div class="col-md-2 ">
                          <button asp-page-handler="Search" class="btn btn-outline-success" type="submit">Search</button>
                      </div>
                  </div>
            </div>

            <div class="row mb-2 text-center">
              <input type="hidden" name="itemId" data-seido-selected-item-id-target />
              <div class="col-md-4 themed-grid-col">Name</div>
              <div class="col-md-4 themed-grid-col">Address</div>
              <div class="col-md-2 themed-grid-col">Info</div>
              <div class="col-md-2 themed-grid-col">
                  <a href="~/EditFriend" class="btn btn-success btn-sm" type="button">Add</a>
              </div>
            </div>
            <div class="row mb-2 text-center">

                @if(Model.Friends is not null)
                {
                    @foreach(var item in Model.Friends)
                    {
                        <div class="col-md-4 themed-grid-col">
                          @item.FirstName @item.LastName
                          <div class="col-md-16">@item.Email</div>
                        </div>
                        <div class="col-md-4 themed-grid-col">
                          @(item.Address?.StreetAddress ?? "No address" )
                          <div class="col-md-16">@item.Address?.ZipCode @item.Address?.City</div>
                          <div class="col-md-16">@item.Address?.Country</div>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                          <div class="col-md-16">Born: @(item.Birthday?.ToString("yyyy-MM-dd") ?? "No birthday" )</div>
                          <div class="col-md-16">Pets: @item.Pets?.Count()</div>
                          <div class="col-md-16">Quotes: @item.Quotes?.Count()</div>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                            <a href="~/ViewFriend?id=@item.FriendId" class="btn btn-primary btn-sm" type="button">View</a>
                            <a href="~/EditFriend?id=@item.FriendId"  class="btn btn-secondary btn-sm" type="button">Edit</a>
                            <!-- Button to trigger modal confirmation with modal in the form tag -->
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delModal"
                                    data-seido-modal-body="@item.FirstName @item.LastName is about to be deleted."
                                    data-seido-selected-item-id="@item.FriendId">
                                Del
                            </button>
                        </div>
                    }
                
                    <nav aria-label="Standard pagination example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="~/ListOfFriends?pagenr=@Model.PrevPageNr&search=@Model.SearchFilter" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (int i = 0; i < Model.NrVisiblePages; i++)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/ListOfFriends?pagenr=@i&search=@Model.SearchFilter">@(i + 1)</a>
                                </li>

                            }
                            <li class="page-item">
                                <a class="page-link" href="~/ListOfFriends?pagenr=@Model.NextPageNr&search=@Model.SearchFilter" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
                <!-- Modal in the form tag -->
                <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="softModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="softModalLabel">Confirm deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Hello from modal
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" asp-page-handler="DeleteFriend" class="btn btn-primary btn-danger">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>